# Movielens Data Wrangling

In [17]:
import pandas as pd
import numpy as np
import psycopg2 as psql
import warnings
warnings.filterwarnings('ignore')

In [2]:
# read in movies.dat
df = pd.read_table(r'dat_files\movies.dat', sep = '::', names =['movie_id','title', 'genres'])
df.tail()

      movie_id                       title          genres
3878      3948     Meet the Parents (2000)          Comedy
3879      3949  Requiem for a Dream (2000)           Drama
3880      3950            Tigerland (2000)           Drama
3881      3951     Two Family House (2000)           Drama
3882      3952       Contender, The (2000)  Drama|Thriller

In [3]:
# format is currently movie title (year). create new year column, remove (yyyy) from title column
df['year'] = pd.to_numeric(df['title'].str[-6:].str[1:5])
df['title'] = df['title'].str[:-6]
df.tail()

      movie_id                 title          genres  year
3878      3948     Meet the Parents           Comedy  2000
3879      3949  Requiem for a Dream            Drama  2000
3880      3950            Tigerland            Drama  2000
3881      3951     Two Family House            Drama  2000
3882      3952       Contender, The   Drama|Thriller  2000

In [4]:
df[df['title'].str.contains('les')].head()

,movie_id,title,genres,year
38,39,Clueless,Comedy|Romance,1995
72,73,"Mis�rables, Les",Drama|Musical,1995
107,109,Headless Body in Topless Bar,Comedy,1995
187,189,Reckless,Comedy,1995
324,328,Tales From the Crypt Presents: Demon Knight,Horror,1995

In [5]:
def fix_unicode(df):
    """Loops through all string columns of dataframe and fixes potential utf-8 issues."""

    for x in df.select_dtypes(include=[np.object]).columns:
        df[x]  = df[x].str.decode('utf-8','ignore').str.encode('utf-8')
        
    return df

In [6]:
# because of invalid characters such as the accented e in les miserables, we have to jump through
# some hoops to decode this. invalid characters are removed without replacement. 
df = fix_unicode(df)

In [7]:
df[df['title'].str.contains('les')].head()

,movie_id,title,genres,year
38,39,Clueless,Comedy|Romance,1995
72,73,"Misrables, Les",Drama|Musical,1995
107,109,Headless Body in Topless Bar,Comedy,1995
187,189,Reckless,Comedy,1995
324,328,Tales From the Crypt Presents: Demon Knight,Horror,1995

In [8]:
# write movies.csv so we don't have to do this crap again
df.to_csv('csv\movies.csv', index=False, headers=True, encoding='utf-8')

In [9]:
# read in ratings.dat
df = pd.read_table(r'dat_files\ratings.dat', sep = '::', names =['user_id', 'movie_id', 'rating', 'timestamp'])
df.head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [10]:
# convert date time from seconds into something human readable
df['timestamp'] = pd.to_datetime(df['timestamp'], unit = 's')
df.tail()

         user_id  movie_id  rating           timestamp
1000204     6040      1091       1 2000-04-26 02:35:41
1000205     6040      1094       5 2000-04-25 23:21:27
1000206     6040       562       5 2000-04-25 23:19:06
1000207     6040      1096       4 2000-04-26 02:20:48
1000208     6040      1097       4 2000-04-26 02:19:29

In [11]:
# write to CSV so normal human beings can use this file
df.to_csv(r'csv\ratings.csv',index=False, headers=True, encoding='utf-8')

In [31]:
df = pd.read_table(r'dat_files\users.dat', sep = "::", names= ['user_id','gender','age','occupation','zip'])
df.tail()

      user_id gender  age  occupation    zip
6035     6036      F   25          15  32603
6036     6037      F   45           1  76006
6037     6038      F   56           1  14706
6038     6039      F   45           0  01060
6039     6040      M   25           6  11106

In [13]:
df.to_csv(r'csv\users.csv',index=False, headers=True,encoding='utf-8')

In [14]:
# copied and pasted from documentation
occpuations = {0:  "other",
1:  "academic/educator",
2:  "artist",
3:  "clerical/admin",
4:  "college/grad student",
5:  "customer service",
6:  "doctor/health care",
7:  "executive/managerial",
8:  "farmer",
9:  "homemaker",
10:  "K-12 student",
11:  "lawyer",
12:  "programmer",
13:  "retired",
14:  "sales/marketing",
15:  "scientist",
16:  "self-employed",
17:  "technician/engineer",
18:  "tradesman/craftsman",
19:  "unemployed",
20:  "writer"}

In [15]:
# convert dictionary into dataframe
df = pd.DataFrame(occpuations.items(), columns = ['occ_id', 'occ_desc'])

# write occupations to csv
df.to_csv(r'csv\occupations.csv',index=False, headers=True,encoding='utf-8')

In [44]:
import getpass

username = raw_input("Username: ")
password = getpass.getpass('Enter your password: ')

#Define our connection string
conn_string = """host='localhost' 
                port='2559' 
                dbname='movielens'  
                user='%s' 
                password='%s' """  % (username, password)

# print the connection string we will use to connect
print "Connecting to database..."

# get a connection, if a connect cannot be made an exception will be raised here
conn = psql.connect(conn_string)

# conn.cursor will return a cursor object, you can use this cursor to perform queries
cursor = conn.cursor()

print 'connected to database successfully!'

Username: username
Enter your password: ········
Connecting to database...
connected to database successfully!

In [35]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://username:password@localhost:2559/movielens')

df.to_sql("users", engine, if_exists='replace', index=False)

Enter your password: ········